In [45]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [46]:
df=pd.read_excel("C:/Users/SHRUTI/Downloads/Omeprazole-Data transfer_new.xlsx",sheet_name="Ome-200007326-40mg").iloc[:,1:]
df

,MOA→,MET-CFTO-003189,MET-CFTO-003285,MET-CFTO-010953,MET-CFTO-010435,MET-CFTO-003835,MET-CFTO-003338,MET-CFTO-003294,MET-CFTO-003218,Unnamed: 10
0,Material Code,200007326,200000845,200013393,200013393,200013393,200013393,200013393,200013393,NaN
1,Spec →,SP-CFTO-006327_UNITED STATES,SP-CFTO-006425_GERMANY,SP-CFTO-020909_BELARUS,SP-CFTO-019735_RUSSIA,SP-CFTO-006740_BELARUS,SP-CFTO-006473_KHAZAKSTAN,SP-CFTO-006433_UKRAINE,SP-CFTO-006353_RUSSIA,NaN
2,Tests ↓,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,DES,1,2,3,4,3,3,3,4,NaN
4,ID by HPLC,1,2,1,3,1,1,1,3,NaN
5,ID by UV,NaN,1,1,NaN,2,NaN,NaN,NaN,NaN
6,LOD,1,1,1,NaN,1,1,1,NaN,NaN
7,UOD,1,1,1,1,1,1,1,1,NaN
8,DSA,1,1,1,1,1,1,1,1,NaN
9,DSB,1,1,1,1,1,1,1,1,NaN
10,AS,NaN,1,1,1,1,1,1,1,NaN
11,RS,1,2,3,3,3,3,3,3,NaN
12,RSL,1,1,2,2,2,2,2,2,NaN
13,RSL2 (ALT MET),1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MICRO,NaN,1,1,1,2,1,1,1,NaN
15,AVG WEIGHT,NaN,1,1,1,1,1,1,1,NaN
16,AVG WT_NET CON,NaN,NaN,1,1,1,1,1,1,NaN
17,UOM,NaN,NaN,1,NaN,NaN,1,1,NaN,NaN
18,TPW,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,ELEMENTAL IMP,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
df.columns

Index(['MOA→', 'MET-CFTO-003189', 'MET-CFTO-003285', 'MET-CFTO-010953',
       'MET-CFTO-010435', 'MET-CFTO-003835', 'MET-CFTO-003338',
       'MET-CFTO-003294', 'MET-CFTO-003218', 'Unnamed: 10'],
      dtype='object')

In [48]:
df.drop(['Unnamed: 10'],axis=1,inplace=True)
df

,MOA→,MET-CFTO-003189,MET-CFTO-003285,MET-CFTO-010953,MET-CFTO-010435,MET-CFTO-003835,MET-CFTO-003338,MET-CFTO-003294,MET-CFTO-003218
0,Material Code,200007326,200000845,200013393,200013393,200013393,200013393,200013393,200013393
1,Spec →,SP-CFTO-006327_UNITED STATES,SP-CFTO-006425_GERMANY,SP-CFTO-020909_BELARUS,SP-CFTO-019735_RUSSIA,SP-CFTO-006740_BELARUS,SP-CFTO-006473_KHAZAKSTAN,SP-CFTO-006433_UKRAINE,SP-CFTO-006353_RUSSIA
2,Tests ↓,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,DES,1,2,3,4,3,3,3,4
4,ID by HPLC,1,2,1,3,1,1,1,3
5,ID by UV,NaN,1,1,NaN,2,NaN,NaN,NaN
6,LOD,1,1,1,NaN,1,1,1,NaN
7,UOD,1,1,1,1,1,1,1,1
8,DSA,1,1,1,1,1,1,1,1
9,DSB,1,1,1,1,1,1,1,1
10,AS,NaN,1,1,1,1,1,1,1
11,RS,1,2,3,3,3,3,3,3
12,RSL,1,1,2,2,2,2,2,2
13,RSL2 (ALT MET),1,1,NaN,NaN,NaN,NaN,NaN,NaN
14,MICRO,NaN,1,1,1,2,1,1,1
15,AVG WEIGHT,NaN,1,1,1,1,1,1,1
16,AVG WT_NET CON,NaN,NaN,1,1,1,1,1,1
17,UOM,NaN,NaN,1,NaN,NaN,1,1,NaN
18,TPW,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,ELEMENTAL IMP,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
df.loc[0]

MOA→               Material Code
MET-CFTO-003189        200007326
MET-CFTO-003285        200000845
MET-CFTO-010953        200013393
MET-CFTO-010435        200013393
MET-CFTO-003835        200013393
MET-CFTO-003338        200013393
MET-CFTO-003294        200013393
MET-CFTO-003218        200013393
Name: 0, dtype: object

In [50]:
df.loc[0].values.tolist()[1:]

[200007326,
 200000845,
 200013393,
 200013393,
 200013393,
 200013393,
 200013393,
 200013393]

In [51]:
m_codes=df.loc[0].values.tolist()[1:]
spec_mkts=df.loc[1].tolist()[1:]
cols=[(str(m_code)+'_'+spec_mkt)for m_code,spec_mkt in zip(m_codes,spec_mkts)]

In [52]:
m_codes

[200007326,
 200000845,
 200013393,
 200013393,
 200013393,
 200013393,
 200013393,
 200013393]

In [53]:
spec_mkts

['SP-CFTO-006327_UNITED STATES',
 'SP-CFTO-006425_GERMANY',
 'SP-CFTO-020909_BELARUS',
 'SP-CFTO-019735_RUSSIA',
 'SP-CFTO-006740_BELARUS',
 'SP-CFTO-006473_KHAZAKSTAN',
 'SP-CFTO-006433_UKRAINE',
 'SP-CFTO-006353_RUSSIA']

In [54]:
cols.insert(0,'Tests')
cols

['Tests',
 '200007326_SP-CFTO-006327_UNITED STATES',
 '200000845_SP-CFTO-006425_GERMANY',
 '200013393_SP-CFTO-020909_BELARUS',
 '200013393_SP-CFTO-019735_RUSSIA',
 '200013393_SP-CFTO-006740_BELARUS',
 '200013393_SP-CFTO-006473_KHAZAKSTAN',
 '200013393_SP-CFTO-006433_UKRAINE',
 '200013393_SP-CFTO-006353_RUSSIA']

In [55]:
df=df.iloc[3:]
df

,MOA→,MET-CFTO-003189,MET-CFTO-003285,MET-CFTO-010953,MET-CFTO-010435,MET-CFTO-003835,MET-CFTO-003338,MET-CFTO-003294,MET-CFTO-003218
3,DES,1,2,3,4,3,3,3,4
4,ID by HPLC,1,2,1,3,1,1,1,3
5,ID by UV,NaN,1,1,NaN,2,NaN,NaN,NaN
6,LOD,1,1,1,NaN,1,1,1,NaN
7,UOD,1,1,1,1,1,1,1,1
8,DSA,1,1,1,1,1,1,1,1
9,DSB,1,1,1,1,1,1,1,1
10,AS,NaN,1,1,1,1,1,1,1
11,RS,1,2,3,3,3,3,3,3
12,RSL,1,1,2,2,2,2,2,2
13,RSL2 (ALT MET),1,1,NaN,NaN,NaN,NaN,NaN,NaN
14,MICRO,NaN,1,1,1,2,1,1,1
15,AVG WEIGHT,NaN,1,1,1,1,1,1,1
16,AVG WT_NET CON,NaN,NaN,1,1,1,1,1,1
17,UOM,NaN,NaN,1,NaN,NaN,1,1,NaN
18,TPW,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,ELEMENTAL IMP,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
df.columns=cols
df

,Tests,200007326_SP-CFTO-006327_UNITED STATES,200000845_SP-CFTO-006425_GERMANY,200013393_SP-CFTO-020909_BELARUS,200013393_SP-CFTO-019735_RUSSIA,200013393_SP-CFTO-006740_BELARUS,200013393_SP-CFTO-006473_KHAZAKSTAN,200013393_SP-CFTO-006433_UKRAINE,200013393_SP-CFTO-006353_RUSSIA
3,DES,1,2,3,4,3,3,3,4
4,ID by HPLC,1,2,1,3,1,1,1,3
5,ID by UV,NaN,1,1,NaN,2,NaN,NaN,NaN
6,LOD,1,1,1,NaN,1,1,1,NaN
7,UOD,1,1,1,1,1,1,1,1
8,DSA,1,1,1,1,1,1,1,1
9,DSB,1,1,1,1,1,1,1,1
10,AS,NaN,1,1,1,1,1,1,1
11,RS,1,2,3,3,3,3,3,3
12,RSL,1,1,2,2,2,2,2,2
13,RSL2 (ALT MET),1,1,NaN,NaN,NaN,NaN,NaN,NaN
14,MICRO,NaN,1,1,1,2,1,1,1
15,AVG WEIGHT,NaN,1,1,1,1,1,1,1
16,AVG WT_NET CON,NaN,NaN,1,1,1,1,1,1
17,UOM,NaN,NaN,1,NaN,NaN,1,1,NaN
18,TPW,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,ELEMENTAL IMP,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
df.set_index('Tests')

,200007326_SP-CFTO-006327_UNITED STATES,200000845_SP-CFTO-006425_GERMANY,200013393_SP-CFTO-020909_BELARUS,200013393_SP-CFTO-019735_RUSSIA,200013393_SP-CFTO-006740_BELARUS,200013393_SP-CFTO-006473_KHAZAKSTAN,200013393_SP-CFTO-006433_UKRAINE,200013393_SP-CFTO-006353_RUSSIA
Tests,,,,,,,,
DES,1,2,3,4,3,3,3,4
ID by HPLC,1,2,1,3,1,1,1,3
ID by UV,NaN,1,1,NaN,2,NaN,NaN,NaN
LOD,1,1,1,NaN,1,1,1,NaN
UOD,1,1,1,1,1,1,1,1
DSA,1,1,1,1,1,1,1,1
DSB,1,1,1,1,1,1,1,1
AS,NaN,1,1,1,1,1,1,1
RS,1,2,3,3,3,3,3,3
RSL,1,1,2,2,2,2,2,2
RSL2 (ALT MET),1,1,NaN,NaN,NaN,NaN,NaN,NaN
MICRO,NaN,1,1,1,2,1,1,1
AVG WEIGHT,NaN,1,1,1,1,1,1,1
AVG WT_NET CON,NaN,NaN,1,1,1,1,1,1
UOM,NaN,NaN,1,NaN,NaN,1,1,NaN
TPW,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ELEMENTAL IMP,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
df.set_index('Tests').stack()

Tests
DES            200007326_SP-CFTO-006327_UNITED STATES    1
               200000845_SP-CFTO-006425_GERMANY          2
               200013393_SP-CFTO-020909_BELARUS          3
               200013393_SP-CFTO-019735_RUSSIA           4
               200013393_SP-CFTO-006740_BELARUS          3
                                                        ..
UOM            200013393_SP-CFTO-020909_BELARUS          1
               200013393_SP-CFTO-006473_KHAZAKSTAN       1
               200013393_SP-CFTO-006433_UKRAINE          1
TPW            200007326_SP-CFTO-006327_UNITED STATES    1
ELEMENTAL IMP  200007326_SP-CFTO-006327_UNITED STATES    1
Length: 99, dtype: object

In [59]:
df.set_index('Tests').stack().reset_index()

            Tests                                 level_1  0
0             DES  200007326_SP-CFTO-006327_UNITED STATES  1
1             DES        200000845_SP-CFTO-006425_GERMANY  2
2             DES        200013393_SP-CFTO-020909_BELARUS  3
3             DES         200013393_SP-CFTO-019735_RUSSIA  4
4             DES        200013393_SP-CFTO-006740_BELARUS  3
..            ...                                     ... ..
94            UOM        200013393_SP-CFTO-020909_BELARUS  1
95            UOM     200013393_SP-CFTO-006473_KHAZAKSTAN  1
96            UOM        200013393_SP-CFTO-006433_UKRAINE  1
97            TPW  200007326_SP-CFTO-006327_UNITED STATES  1
98  ELEMENTAL IMP  200007326_SP-CFTO-006327_UNITED STATES  1

[99 rows x 3 columns]

In [60]:
df.set_index('Tests').stack().reset_index().rename(columns={'level_1':'MaterialNumber',0:'Copy_testing_flag'})

            Tests                          MaterialNumber Copy_testing_flag
0             DES  200007326_SP-CFTO-006327_UNITED STATES                 1
1             DES        200000845_SP-CFTO-006425_GERMANY                 2
2             DES        200013393_SP-CFTO-020909_BELARUS                 3
3             DES         200013393_SP-CFTO-019735_RUSSIA                 4
4             DES        200013393_SP-CFTO-006740_BELARUS                 3
..            ...                                     ...               ...
94            UOM        200013393_SP-CFTO-020909_BELARUS                 1
95            UOM     200013393_SP-CFTO-006473_KHAZAKSTAN                 1
96            UOM        200013393_SP-CFTO-006433_UKRAINE                 1
97            TPW  200007326_SP-CFTO-006327_UNITED STATES                 1
98  ELEMENTAL IMP  200007326_SP-CFTO-006327_UNITED STATES                 1

[99 rows x 3 columns]

In [61]:
df=df.set_index('Tests').stack().reset_index().rename(columns={'level_1':'MaterialNumber',0:'Copy_testing_flag'})
df

            Tests                          MaterialNumber Copy_testing_flag
0             DES  200007326_SP-CFTO-006327_UNITED STATES                 1
1             DES        200000845_SP-CFTO-006425_GERMANY                 2
2             DES        200013393_SP-CFTO-020909_BELARUS                 3
3             DES         200013393_SP-CFTO-019735_RUSSIA                 4
4             DES        200013393_SP-CFTO-006740_BELARUS                 3
..            ...                                     ...               ...
94            UOM        200013393_SP-CFTO-020909_BELARUS                 1
95            UOM     200013393_SP-CFTO-006473_KHAZAKSTAN                 1
96            UOM        200013393_SP-CFTO-006433_UKRAINE                 1
97            TPW  200007326_SP-CFTO-006327_UNITED STATES                 1
98  ELEMENTAL IMP  200007326_SP-CFTO-006327_UNITED STATES                 1

[99 rows x 3 columns]

In [62]:
for item in df['MaterialNumber'].str.split('-'):
    print(item)

['200007326_SP', 'CFTO', '006327_UNITED STATES']
['200000845_SP', 'CFTO', '006425_GERMANY']
['200013393_SP', 'CFTO', '020909_BELARUS']
['200013393_SP', 'CFTO', '019735_RUSSIA']
['200013393_SP', 'CFTO', '006740_BELARUS']
['200013393_SP', 'CFTO', '006473_KHAZAKSTAN']
['200013393_SP', 'CFTO', '006433_UKRAINE']
['200013393_SP', 'CFTO', '006353_RUSSIA']
['200007326_SP', 'CFTO', '006327_UNITED STATES']
['200000845_SP', 'CFTO', '006425_GERMANY']
['200013393_SP', 'CFTO', '020909_BELARUS']
['200013393_SP', 'CFTO', '019735_RUSSIA']
['200013393_SP', 'CFTO', '006740_BELARUS']
['200013393_SP', 'CFTO', '006473_KHAZAKSTAN']
['200013393_SP', 'CFTO', '006433_UKRAINE']
['200013393_SP', 'CFTO', '006353_RUSSIA']
['200000845_SP', 'CFTO', '006425_GERMANY']
['200013393_SP', 'CFTO', '020909_BELARUS']
['200013393_SP', 'CFTO', '006740_BELARUS']
['200007326_SP', 'CFTO', '006327_UNITED STATES']
['200000845_SP', 'CFTO', '006425_GERMANY']
['200013393_SP', 'CFTO', '020909_BELARUS']
['200013393_SP', 'CFTO', '006740_BELARUS']
['200013393_SP', 'CFTO', '006473_KHAZAKSTAN']
['200013393_SP', 'CFTO', '006433_UKRAINE']
['200007326_SP', 'CFTO', '006327_UNITED STATES']
['200000845_SP', 'CFTO', '006425_GERMANY']
['200013393_SP', 'CFTO', '020909_BELARUS']
['200013393_SP', 'CFTO', '019735_RUSSIA']
['200013393_SP', 'CFTO', '006740_BELARUS']
['200013393_SP', 'CFTO', '006473_KHAZAKSTAN']
['200013393_SP', 'CFTO', '006433_UKRAINE']
['200013393_SP', 'CFTO', '006353_RUSSIA']
['200007326_SP', 'CFTO', '006327_UNITED STATES']
['200000845_SP', 'CFTO', '006425_GERMANY']
['200013393_SP', 'CFTO', '020909_BELARUS']
['200013393_SP', 'CFTO', '019735_RUSSIA']
['200013393_SP', 'CFTO', '006740_BELARUS']
['200013393_SP', 'CFTO', '006473_KHAZAKSTAN']
['200013393_SP', 'CFTO', '006433_UKRAINE']
['200013393_SP', 'CFTO', '006353_RUSSIA']
['200007326_SP', 'CFTO', '006327_UNITED STATES']
['200000845_SP', 'CFTO', '006425_GERMANY']
['200013393_SP', 'CFTO', '020909_BELARUS']
['200013393_SP', 'CFTO', '019735_RUSSIA']
['200013393_SP', 'CFTO', '006740_BELARUS']
['200013393_SP', 'CFTO', '006473_KHAZAKSTAN']
['200013393_SP', 'CFTO', '006433_UKRAINE']
['200013393_SP', 'CFTO', '006353_RUSSIA']
['200000845_SP', 'CFTO', '006425_GERMANY']
['200013393_SP', 'CFTO', '020909_BELARUS']
['200013393_SP', 'CFTO', '019735_RUSSIA']
['200013393_SP', 'CFTO', '006740_BELARUS']
['200013393_SP', 'CFTO', '006473_KHAZAKSTAN']
['200013393_SP', 'CFTO', '006433_UKRAINE']
['200013393_SP', 'CFTO', '006353_RUSSIA']
['200007326_SP', 'CFTO', '006327_UNITED STATES']
['200000845_SP', 'CFTO', '006425_GERMANY']
['200013393_SP', 'CFTO', '020909_BELARUS']
['200013393_SP', 'CFTO', '019735_RUSSIA']
['200013393_SP', 'CFTO', '006740_BELARUS']
['200013393_SP', 'CFTO', '006473_KHAZAKSTAN']
['200013393_SP', 'CFTO', '006433_UKRAINE']
['200013393_SP', 'CFTO', '006353_RUSSIA']
['200007326_SP', 'CFTO', '006327_UNITED STATES']
['200000845_SP', 'CFTO', '006425_GERMANY']
['200013393_SP', 'CFTO', '020909_BELARUS']
['200013393_SP', 'CFTO', '019735_RUSSIA']
['200013393_SP', 'CFTO', '006740_BELARUS']
['200013393_SP', 'CFTO', '006473_KHAZAKSTAN']
['200013393_SP', 'CFTO', '006433_UKRAINE']
['200013393_SP', 'CFTO', '006353_RUSSIA']
['200007326_SP', 'CFTO', '006327_UNITED STATES']
['200000845_SP', 'CFTO', '006425_GERMANY']
['200000845_SP', 'CFTO', '006425_GERMANY']
['200013393_SP', 'CFTO', '020909_BELARUS']
['200013393_SP', 'CFTO', '019735_RUSSIA']
['200013393_SP', 'CFTO', '006740_BELARUS']
['200013393_SP', 'CFTO', '006473_KHAZAKSTAN']
['200013393_SP', 'CFTO', '006433_UKRAINE']
['200013393_SP', 'CFTO', '006353_RUSSIA']
['200000845_SP', 'CFTO', '006425_GERMANY']
['200013393_SP', 'CFTO', '020909_BELARUS']
['200013393_SP', 'CFTO', '019735_RUSSIA']
['200013393_SP', 'CFTO', '006740_BELARUS']
['200013393_SP', 'CFTO', '006473_KHAZAKSTAN']
['200013393_SP', 'CFTO', '006433_UKRAINE']
['200013393_SP', 'CFTO', '006353_RUSSIA']
['200013393_SP', 'CFTO', '020909_BELARUS']
['200013393_SP', 'CFTO', '019735_RUSSIA']
['200013393_SP', 'CFTO', '006740_BELARUS']
['200013393_SP', 'CFTO', '006473_KHAZAKSTAN']
['200013393_SP', 'CFTO', '006433_UKRAINE']
['200013393_SP', 'CFTO', '006353_RUSSIA']
['200013393_SP', 'CFTO', '020909_BELARUS']
['200013393_SP', 'CFTO', '006473_KHAZAKSTAN']
['200013393_SP', 'CFTO', '006433_UKRAINE']
['200007326_SP', 'CFTO', '006327_UNITED STATES']
['200007326_SP', 'CFTO', '006327_UNITED STATES']

In [66]:
df['product_code']=[item[0] for item in df['MaterialNumber'].str.split('_')]

df['1_product']=[item[1] for item in df['MaterialNumber'].str.split('_')]
df['market']=[item[2] for item in df['MaterialNumber'].str.split('_')]

In [67]:
df

,Tests,MaterialNumber,Copy_testing_flag,market,1_product,product_code
0,DES,200007326_SP-CFTO-006327_UNITED STATES,1,UNITED STATES,SP-CFTO-006327,200007326
1,DES,200000845_SP-CFTO-006425_GERMANY,2,GERMANY,SP-CFTO-006425,200000845
2,DES,200013393_SP-CFTO-020909_BELARUS,3,BELARUS,SP-CFTO-020909,200013393
3,DES,200013393_SP-CFTO-019735_RUSSIA,4,RUSSIA,SP-CFTO-019735,200013393
4,DES,200013393_SP-CFTO-006740_BELARUS,3,BELARUS,SP-CFTO-006740,200013393
...,...,...,...,...,...,...
94,UOM,200013393_SP-CFTO-020909_BELARUS,1,BELARUS,SP-CFTO-020909,200013393
95,UOM,200013393_SP-CFTO-006473_KHAZAKSTAN,1,KHAZAKSTAN,SP-CFTO-006473,200013393
96,UOM,200013393_SP-CFTO-006433_UKRAINE,1,UKRAINE,SP-CFTO-006433,200013393
97,TPW,200007326_SP-CFTO-006327_UNITED STATES,1,UNITED STATES,SP-CFTO-006327,200007326
98,ELEMENTAL IMP,200007326_SP-CFTO-006327_UNITED STATES,1,UNITED STATES,SP-CFTO-006327,200007326